<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaee.ex08.mapper.BookMapper">
    <select id="findBooks" resultType="com.javaee.ex08.po.Book">
        select * from book;
    </select>

    <select id="findBookById" parameterType="int" resultType="com.javaee.ex08.po.Book">
        select * from book where book_id = #{id}
    </select>

    <select id="findBooksByCourseId" parameterType="int" resultType="com.javaee.ex08.po.Book">
        select * from book where course_id = #{courseId}
    </select>
</mapper>